<p>Successfully developed and deployed applications using C#, .NET Core, SQL, and React.js.
    Streamlined form submission and filtering features in React.js for better user experience.
    Implemented dynamic database queries to handle complex requirements efficiently.
    Contributed to requirement gathering and created detailed user requirement documents (DUR).
    Prepared for interviews at top companies like EY, UST Global, and Sonata Software.
    Built strong problem-solving skills by addressing real-time challenges in development and deployment.</p>
